@import "../../assets/style/index.scss";

.GoodsListItem {
	$p: &;
	display: block;
	width: calc(33.33% - 12px);
	background-color: $orange;

	&:nth-child(3n + 2) {
		width: calc(33.34% - 12px);
	}

	&__wrapImg {
		position: relative;
		width: 100%;
		@include aspect-ratio(285, 160);
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-position: 50% 50%;
		object-fit: cover;
	}

	&__price {
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		color: $bg;
	}

	&__add {
		display: inline-block;
		padding: 5px;
		border: 1px solid $bg;
		border-radius: 4px;
		color: $text;
		background-color: $white;
	}

	&__badge {
		position: absolute;
		top: 16px;
		left: 16px;
		display: inline-block;
		padding: 10px;
		background-color: $ac;
		color: $text;
		border-radius: 4px;
	}

	&__like {
		position: absolute !important;
		top: 16px;
		right: 16px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		min-width: 50px !important;
		height: 50px;
		padding: 0 !important;
		border: none;
		background-color: transparent;

		svg {
			rect {
				transition: fill 0.2s ease;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 4px 10px;
	}

	&_liked {
		#{$p}__like {
			svg {
				rect {
					fill: $health-ok;
				}
			}
		}
	}
}

.link {
	color: #ff0000;
}
